      <div class = "container-fluid" style = "background-image: url(https://images.pexels.com/photos/2720839/pexels-photo-2720839.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); background-size: cover">
         <!-- FIRST ROW -->
         <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
            <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
               <div class="card small" data-id="16" style="height: 80%; margin-left: 0px; margin-right: 0px; margin-left: 0px; margin-right: 0px; background-color: black; margin-bottom: 0px; margin-top: 0px; color: white; border: 1px solid white;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="16" style="display:block;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="16" style="margin-right: 30%; display:block;">P2</a>
   
                     <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimages.pexels.com%2Fphotos%2F442584%2Fpexels-photo-442584.jpeg%3Fauto%3Dcompress%26cs%3Dtinysrgb%26dpr%3D2%26h%3D650%26w%3D940" img alt="go">
                     
                  </div>
                  <div class="card-content"style = "padding: 2px;">
                     <h6>Collect Your Rent</h6>
                     <p>Receive sum of</p>
                     <p>property payouts</p>
                  </div>
                  
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card small" data-id="1" style="height: 80%; margin-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 0px; background-color: black; color: white; border: 1px solid white;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="1" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="1" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="1"><i class="material-icons">attach_money</i></a>
   
                     <img src="https://images.pexels.com/photos/3779814/pexels-photo-3779814.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="How House">
                     
                  </div>
                  <div class="card-content" style = "padding: 2px;">
                     <h6>Silver Ridge Ave</h6>
                     <p>Price: $100</p>
                     <p>Payout: $20</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card small" data-id="2" style="height: 80%; margin-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 0px; background-color: black; color: white; border: 1px solid white;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="2" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="2" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="2"><i class="material-icons">attach_money</i></a>
   
                     <img src="https://images.pexels.com/photos/4552854/pexels-photo-4552854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                  
                     
                  </div>
                  <div class="card-content" style = "padding: 2px;">
                     <h6>Hollywood Bowl</h6>
                     <p>Price: $120</p>
                     <p>Payout: $24</p>
                     
                  </div>
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card small" data-id="3" style="height: 80%; margin-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 0px; background-color: black; color: white; border: 1px solid white;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="3" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="3" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="3"><i class="material-icons">attach_money</i></a>
   
                     <img src="https://images.pexels.com/photos/1105766/pexels-photo-1105766.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="ennis house">
                     
                  </div>
                  <div class="card-content" style = "padding: 2px;">
                     <h6> Glendower Avenue</h6>
                     <p>Price: $140</p>
                     <p>Payout: $28</p>
                  </div>
                  
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card small" data-id="4" style="height: 80%; margin-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 0px; background-color: black; color: white; border: 1px solid white;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="4" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="4" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="4"><i class="material-icons">attach_money</i></a>
   
                     <img src="https://images.pexels.com/photos/68272/pexels-photo-68272.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                     
                  </div>
                  <div class="card-content" style = "padding: 2px;">
                     <h6>Route 66</h6>
                     <p>Price: $160</p>
                     <p>Payout: $32</p>
                     
                  </div>
                  
               </div>
            </div>
         </div>
         <!--SECOND ROW-->
         <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
            <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
               <div class="card small" data-id="15" style="height: 80%; margin-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 0px; background-color: black; color: white; border: 1px solid white;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="15" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="15" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="15"><i class="material-icons">attach_money</i></a>
   
                     <img src="https://images.pexels.com/photos/1209982/pexels-photo-1209982.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                     
                  </div>
                  <div class="card-content" style = "padding: 2px;">
                     <h6>Murphy Way</h6>
                     <p>Price: $380</p>
                     <p>Payout: $76</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s6"></div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card small" data-id="5" style="height: 80%; margin-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 0px; background-color: black; color: white; border: 1px solid white;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="5" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="5" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="5"><i class="material-icons">attach_money</i></a>
   
                     <img src="https://images.pexels.com/photos/1309687/pexels-photo-1309687.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                     
                  </div>
                  <div class="card-content" style = "padding: 2px;">
                     <h6>San Pasqual Street</h6>
                     <p>Price: $180</p>
                     <p>Payout: $36</p>
                     
                  </div>
                  
               </div>
            </div>
         </div>
         <!--THIRD ROW-->
         <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
            <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
               <div class="card small" data-id="14" style="height: 80%; margin-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 0px; background-color: black; color: white; border: 1px solid white;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="14" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="14" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="14"><i class="material-icons">attach_money</i></a>
   
                     <img src="https://images.pexels.com/photos/3990086/pexels-photo-3990086.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                     
                  </div>
                  <div class="card-content" style = "padding: 2px;">
                     <h6>Santa Monica Pier</h6>
                     <p>Price: $360</p>
                     <p>Payout: $72</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s1"></div>
            <!--PLAYER 1 STATS-->
            <div class="col s2">
               <div class="card-panel red" style="margin-right: 5px; border: 2px solid white; margin-bottom: 0px;">
                 <h5 class="white-text center-align">Player 1</h5>
                  <p class="white-text">Money: $</p>
                  <p class="white-text">Number of Properties: </p>
               </div>
            </div>
            <!--PLAYER 2 STATS-->
            <div class="col s2">
               <div class="card-panel light-blue" style="margin-left: 5px; border: 2px solid white; margin-bottom: 0px;">
                  <h5 class="white-text center-align">Player 2</h5>
                  <p class="white-text">Money: $</p>
                  <p class="white-text">Number of Properties: </p>
               </div>
            </div>
            <div class="col s1"></div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card small" data-id="6" style="height: 80%; margin-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 0px; background-color: black; color: white; border: 1px solid white;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="6" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="6" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="6"><i class="material-icons">attach_money</i></a>
   
                     <img src="https://images.pexels.com/photos/633565/pexels-photo-633565.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                     
                  </div>
                  <div class="card-content" style = "padding: 2px;">
                     <h6>Santa Anita Park</h6>
                     <p>Price: $200</p>
                     <p>Payout: $40</p>
                     
                  </div>
               </div>
            </div>
         </div>
         <!--FOURTH ROW-->
         <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
            <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
               <div class="card small" data-id="13" style="height: 80%; margin-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 0px; background-color: black; color: white; border: 1px solid white;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="13" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="13" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="13"><i class="material-icons">attach_money</i></a>
   
                     <img src="https://images.pexels.com/photos/712615/pexels-photo-712615.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                     
                  </div>
                  <div class="card-content" style = "padding: 2px;">
                     <h6>Dell Avenue</h6>
                     <p>Price: $340</p>
                     <p>Payout: $68</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s1"></div>
            <!--DICE-->
            <div class="col s4">
               <div id="die1" class="dice">0</div>
               <div id="die2" class="dice">0</div>
               <br>
               <a class="btn btn-primary amber darken-2 diceBtn">Roll Dice</a>
               <h5 id="status" style="clear: left; color: white; font-family: 'Audiowide', cursive;"></h5>
            </div>
            <div class="col s1"></div>

            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card small" data-id="7" style="height: 80%; margin-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 0px; background-color: black; color: white; border: 1px solid white;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="7" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="7" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="7"><i class="material-icons">attach_money</i></a>
   
                     <img src="https://images.pexels.com/photos/316080/pexels-photo-316080.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                     
                  </div>
                  <div class="card-content" style = "padding: 2px;">
                     <h6>Madison Avenue</h6>
                     <p>Price: $220</p>
                     <p>Payout: $44</p>
                     
                  </div>
                  
               </div>
            </div>
            
         </div>
         <!--LAST ROW-->
         <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
            <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
               <div class="card small" data-id="12" style="height: 80%; margin-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 0px; background-color: black; color: white; border: 1px solid white;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="12" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="12" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="12"><i class="material-icons">attach_money</i></a>
   
                     <img src="https://images.pexels.com/photos/2570059/pexels-photo-2570059.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                     
                  </div>
                  <div class="card-content" style = "padding: 2px;">
                     <h6>Getty Center</h6>
                     <p>Price: $320</p>
                     <p>Payout: $64</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card small" data-id="11" style="height: 80%; margin-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 0px; background-color: black; color: white; border: 1px solid white;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="11" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="11" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="11"><i class="material-icons">attach_money</i></a>
   
                     <img src="https://images.pexels.com/photos/38203/pexels-photo-38203.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
                     
                  </div>
                  <div class="card-content" style = "padding: 2px;">
                     <h6>Sunswept Drive</h6>
                     <p>Price: $300</p>
                     <p>Payout: $60</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card small" data-id="10" style="height: 80%; margin-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 0px; background-color: black; color: white; border: 1px solid white;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="10" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="10" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="10"><i class="material-icons">attach_money</i></a>
   
                     <img src="https://images.pexels.com/photos/2921543/pexels-photo-2921543.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                     
                  </div>
                  <div class="card-content" style = "padding: 2px;">
                     <h6>Universal Studios</h6>
                     <p>Price: $280</p>
                     <p>Payout: $56</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card small" data-id="9" style="height: 80%; margin-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 0px; background-color: black; color: white; border: 1px solid white;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="9" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="9" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="9"><i class="material-icons">attach_money</i></a>
   
                     <img src="https://images.pexels.com/photos/72479/pexels-photo-72479.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                     
                  </div>
                  <div class="card-content" style = "padding: 2px;">
                     <h6>Louise Avenue</h6>
                     <p>Price: $260</p>
                     <p>Payout: $52</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card small" data-id="8" style="height: 80%; margin-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 0px; background-color: black; color: white; border: 1px solid white;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="8" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="8" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="8"><i class="material-icons">attach_money</i></a>
   
                     <img src="https://images.pexels.com/photos/175328/pexels-photo-175328.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                     
                  </div>
                  <div class="card-content" style = "padding: 2px;">
                     <h6>Gridlock</h6>
                     <p>Price: $240</p>
                     <p>Payout: $48</p>
                     
                  </div>
                  
               </div>
            </div>
         </div>
      </div>
   </div>