<div class = "container-fluid">
      <!-- FIRST ROW -->
      <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
         <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
            <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
               <div class="card-image">
                  <a class=" left btn-floating halfway-fab waves-effect waves-light red ">P1</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>

                  <img src="images/go.jpg" img alt="go">
                  
               </div>
               <div class="card-content">
                  <h6>Collect Your Rent</h6>
                  <p>Receive sum of property payouts</p>
               </div>
               
            </div>
         </div>
         <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
            <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
               <div class="card-image">
                  <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>

                  <img src="images/howHouse.jpg" alt="How House">
                  
               </div>
               <div class="card-content">
                  <h6>Silver Ridge Ave</h6>
                  <p>Price: $200</p>
                  <p>Payout: $50</p>
                  
               </div>
               
            </div>
         </div>
         <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
            <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
               <div class="card-image">
                  <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>

                  <img src="images/Hollywood_Bowl.jpg">
               
                  
               </div>
               <div class="card-content">
                  <h6>Hollywood Bowl</h6>
                  <p>Price: $200</p>
                  <p>Payout: $50</p>
                  
               </div>
               <!-- <div class="card-action">
                  <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">add</i></a>
                  </div> -->
            </div>
         </div>
         <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
            <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
               <div class="card-image">
                  <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>

                  <img src="images/ennisHouse.png" alt="ennis house">
                  
               </div>
               <div class="card-content">
                  <h6> Glendower  Avenue</h6>
                  <p>Price: $200</p>
                  <p>Payout: $50</p>
               </div>
               
            </div>
         </div>
         <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
            <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
               <div class="card-image">
                  <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>

                  <img src="images/route66.png">
                  
               </div>
               <div class="card-content">
                  <h6>Route 66</h6>
                  <p>Price: $200</p>
                  <p>Payout: $50</p>
                  
               </div>
               
            </div>
         </div>
      </div>
      <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
         <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
            <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
               <div class="card-image">
                  <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>

                  <img src="images/murphyWay.png">
                  
               </div>
               <div class="card-content">
                  <h6>Murphy Way</h6>
                  <p>Price: $200</p>
                  <p>Payout: $50</p>
                  
               </div>
               
            </div>
         </div>
         <div class="col s6">
         </div>
         <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
            <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
               <div class="card-image">
                  <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>

                  <img src="images/SanPasqualSt.png">
                  
               </div>
               <div class="card-content">
                  <h6>San Pasqual Street</h6>
                  <p>Price: $200</p>
                  <p>Payout: $50</p>
                  
               </div>
               
            </div>
         </div>
      </div>
      <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
         <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
            <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
               <div class="card-image">
                  <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>

                  <img src="images/SmPier.jpg">
                  
               </div>
               <div class="card-content">
                  <h6>Santa Monica Pier</h6>
                  <p>Price: $200</p>
                  <p>Payout: $50</p>
                  
               </div>
               
            </div>
         </div>
         <div class="col s6">
         </div>
         <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
            <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
               <div class="card-image">
                  <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>

                  <img src="images/Santa_Anita_Park.jpg">
                  
               </div>
               <div class="card-content">
                  <h6>Santa Anita Park</h6>
                  <p>Price: $200</p>
                  <p>Payout: $50</p>
                  
               </div>
               
            </div>
         </div>
      </div>
      <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
         <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
            <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
               <div class="card-image">
                  <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>

                  <img src="images/dellAve.jpg">
                  
               </div>
               <div class="card-content">
                  <h6>Dell Avenue</h6>
                  <p>Price: $200</p>
                  <p>Payout: $50</p>
                  
               </div>
               
            </div>
         </div>
         <div class="col s6">
         </div>
         <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
            <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
               <div class="card-image">
                  <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>

                  <img src="images/madisonAve.jpg">
                  
               </div>
               <div class="card-content">
                  <h6>Madison Avenue</h6>
                  <p>Price: $200</p>
                  <p>Payout: $50</p>
                  
               </div>
               
            </div>
         </div>
      </div>
      <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
         <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
            <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
               <div class="card-image">
                  <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>

                  <img src="images/gettyCenter.jpg">
                  
               </div>
               <div class="card-content">
                  <h6>Getty Center</h6>
                  <p>Price: $200</p>
                  <p>Payout: $50</p>
                  
               </div>
               
            </div>
         </div>
         <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
            <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
               <div class="card-image">
                  <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>

                  <img src="images/sunsweptDrive.jpg">
                  
               </div>
               <div class="card-content">
                  <h6>Sunswept Drive</h6>
                  <p>Price: $200</p>
                  <p>Payout: $50</p>
                  
               </div>
               
            </div>
         </div>
         <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
            <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
               <div class="card-image">
                  <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>

                  <img src="images/universal-studios-hollywood.jpg">
                  
               </div>
               <div class="card-content">
                  <h6>Universal Studios</h6>
                  <p>Price: $200</p>
                  <p>Payout: $50</p>
                  
               </div>
               
            </div>
         </div>
         <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
            <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
               <div class="card-image">
                  <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>

                  <img src="images/louiseAve.jpg">
                  
               </div>
               <div class="card-content">
                  <h6>Louise Avenue</h6>
                  <p>Price: $200</p>
                  <p>Payout: $50</p>
                  
               </div>
               
            </div>
         </div>
         <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
            <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
               <div class="card-image">
                  <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                  <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>

                  <img src="images/405freeway.jpeg">
                  
               </div>
               <div class="card-content">
                  <h6>Gridlock</h6>
                  <p>Price: $200</p>
                  <p>Payout: $50</p>
                  
               </div>
               
            </div>
         </div>
      </div>
   </div>
</div>