      <div class = "container-fluid light-green lighten-4">
         <!-- FIRST ROW -->
         <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
            <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" data-id="16" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="16" style="display:block;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="16" style="margin-right: 30%; display:block;">P2</a>
   
                     <img src="/assets/images/go.jpg" img alt="go">
                     
                  </div>
                  <div class="card-content">
                     <h6>Collect Your Rent</h6>
                     <p>Receive sum of property payouts</p>
                  </div>
                  
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" data-id="1" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="1" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="1" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="1"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/howHouse.jpg" alt="How House">
                     
                  </div>
                  <div class="card-content">
                     <h6>Silver Ridge Ave</h6>
                     <p>Price: $100</p>
                     <p>Payout: $20</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" data-id="2" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="2" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="2" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="2"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/Hollywood_Bowl.jpg">
                  
                     
                  </div>
                  <div class="card-content">
                     <h6>Hollywood Bowl</h6>
                     <p>Price: $120</p>
                     <p>Payout: $24</p>
                     
                  </div>
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" data-id="3" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="3" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="3" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="3"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/ennisHouse.png" alt="ennis house">
                     
                  </div>
                  <div class="card-content">
                     <h6> Glendower Avenue</h6>
                     <p>Price: $140</p>
                     <p>Payout: $28</p>
                  </div>
                  
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" data-id="4" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="4" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="4" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="4"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/route66.png">
                     
                  </div>
                  <div class="card-content">
                     <h6>Route 66</h6>
                     <p>Price: $160</p>
                     <p>Payout: $32</p>
                     
                  </div>
                  
               </div>
            </div>
         </div>
         <!--SECOND ROW-->
         <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
            <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" data-id="15" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="15" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="15" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="15"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/murphyWay.png">
                     
                  </div>
                  <div class="card-content">
                     <h6>Murphy Way</h6>
                     <p>Price: $380</p>
                     <p>Payout: $76</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s1"></div>
            <!--Indicate Turn-->
            <div class="col s4">
               <div id="turn" style="margin-top: 30px;"></div>
               <a class="btn btn-primary amber darken-2 endTurn">End Turn</a>
            </div>
            <div class="col s1"></div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" data-id="5" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="5" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="5" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="5"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/SanPasqualSt.png">
                     
                  </div>
                  <div class="card-content">
                     <h6>San Pasqual Street</h6>
                     <p>Price: $180</p>
                     <p>Payout: $36</p>
                     
                  </div>
                  
               </div>
            </div>
         </div>
         <!--THIRD ROW-->
         <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
            <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" data-id="14" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="14" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="14" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="14"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/SmPier.jpg">
                     
                  </div>
                  <div class="card-content">
                     <h6>Santa Monica Pier</h6>
                     <p>Price: $360</p>
                     <p>Payout: $72</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s1"></div>
            <!--PLAYER 1 STATS-->
            <div class="col s2">
               <div class="card-panel red" style="margin-right: 5px;">
                 <h5 class="white-text center-align">Player 1</h5>
                  <p class="white-text" id="money1">Money: $1500</p>
                  <p class="white-text" id="prop1">Number of Properties: 0</p>
               </div>
            </div>
            <!--PLAYER 2 STATS-->
            <div class="col s2">
               <div class="card-panel light-blue" style="margin-left: 5px;">
                  <h5 class="white-text center-align">Player 2</h5>
                  <p class="white-text" id="money2">Money: $1500</p>
                  <p class="white-text" id="prop2">Number of Properties: 0</p>
               </div>
            </div>
            <div class="col s1"></div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" data-id="6" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="6" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="6" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="6"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/Santa_Anita_Park.jpg">
                     
                  </div>
                  <div class="card-content">
                     <h6>Santa Anita Park</h6>
                     <p>Price: $200</p>
                     <p>Payout: $40</p>
                     
                  </div>
               </div>
            </div>
         </div>
         <!--FOURTH ROW-->
         <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
            <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" data-id="13" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="13" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="13" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="13"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/dellAve.jpg">
                     
                  </div>
                  <div class="card-content">
                     <h6>Dell Avenue</h6>
                     <p>Price: $340</p>
                     <p>Payout: $68</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s1"></div>
            <!--DICE-->
            <div class="col s4">
               <div id="die1" class="dice">0</div>
               <div id="die2" class="dice">0</div>
               <br>
               <a class="btn btn-primary amber darken-2 diceBtn">Roll Dice</a>
               <h5 id="status" style="clear: left;"></h5>
            </div>
            <div class="col s1"></div>

            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" data-id="7" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="7" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="7" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="7"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/madisonAve.jpg">
                     
                  </div>
                  <div class="card-content">
                     <h6>Madison Avenue</h6>
                     <p>Price: $220</p>
                     <p>Payout: $44</p>
                     
                  </div>
                  
               </div>
            </div>
            
         </div>
         <!--LAST ROW-->
         <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
            <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" data-id="12" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="12" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="12" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="12"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/gettyCenter.jpg">
                     
                  </div>
                  <div class="card-content">
                     <h6>Getty Center</h6>
                     <p>Price: $320</p>
                     <p>Payout: $64</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" data-id="11" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="11" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="11" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="11"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/sunsweptDrive.jpg">
                     
                  </div>
                  <div class="card-content">
                     <h6>Sunswept Drive</h6>
                     <p>Price: $300</p>
                     <p>Payout: $60</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" data-id="10" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="10" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="10" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="10"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/universal-studios-hollywood.jpg">
                     
                  </div>
                  <div class="card-content">
                     <h6>Universal Studios</h6>
                     <p>Price: $280</p>
                     <p>Payout: $56</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" data-id="9" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="9" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="9" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="9"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/louiseAve.jpg">
                     
                  </div>
                  <div class="card-content">
                     <h6>Louise Avenue</h6>
                     <p>Price: $260</p>
                     <p>Payout: $52</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" data-id="8" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red p1" data-id="8" style="display:none;">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue p2" data-id="8" style="margin-right: 30%; display:none;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green buyBtn" data-id="8"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/405freeway.jpeg">
                     
                  </div>
                  <div class="card-content">
                     <h6>Gridlock</h6>
                     <p>Price: $240</p>
                     <p>Payout: $48</p>
                     
                  </div>
                  
               </div>
            </div>
         </div>
      </div>
   </div>