a {
    text-align: center;
    z-index: 1 !important;
    position: relative !important;
}



.card {
    min-width: 190px;
    min-height: 239px;
}

.card-panel {
    min-width: 180px;
}

.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
    /* transform: rotateX(45deg); */
}
div.dice {
    /* float: left; */
    width: 32px;
    background-color: #f5f5f5;
    border: #999 1px solid;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}

.dice {
    display: inline-block;
    /* margin: auto; */
    
    animation:shakeY; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }

  .col.s4 {
      /* justify-content: center; */
      text-align: center;
  }

  /* .card.nomargin {
      width: 70%;
  } */

  body {
    /* transform: rotateX(45deg); */
    /* background-image: url(https://images.pexels.com/photos/804915/pexels-photo-804915.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260); */
  }

p {
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

h6 {
    color: #ffa502;
    text-align: center;
    /* box-shadow: 0 0 15px #d35400; */
    text-shadow: 0 0 15px #d35400;
}
.diceBtn:hover {
    color: white;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
}
.diceBtn:hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 15px #d35400;
    filter: blur(3px);
  }

img {
    height: 120px;
    width: 80%;
    filter: brightness(120%);
}

h4 {
    color: white;
    font-family: 'Audiowide', cursive;
}
