<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href ="/assets/burger_style.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Real Monopoly</title>
    <script src = "https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src = "test.css"></script>        
</head>
   

<body>
    <div class = "container-fluid">
    <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
        <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
            <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                <div class="card-image">
                    <img src="images/sample-1.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
</div>
<div class="col s2" style="padding-left: 0px; padding-right: 0px;">
                <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
        <div class="card-image">
            <img src="images/sample-1.jpg">
            <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>
<div class="col s2" style="padding-left: 0px; padding-right: 0px;">    
                <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
        <div class="card-image">
            <img src="images/sample-1.jpg">
            <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>
<div class="col s2" style="padding-left: 0px; padding-right: 0px;">
                <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
        <div class="card-image">
            <img src="images/sample-1.jpg">
            <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>


<div class="col s2" style="padding-left: 0px; padding-right: 0px;">
                                <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                        <div class="card-image">
                            <img src="images/sample-1.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
        </div>
    </div>

    <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
        <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
                        <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                <div class="card-image">
                    <img src="images/sample-1.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s6">

        </div>
        <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
                        <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                <div class="card-image">
                    <img src="images/sample-1.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>

    </div>
    <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">

        <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
                        <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                <div class="card-image">
                    <img src="images/sample-1.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s6">

        </div>
        <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
                        <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                <div class="card-image">
                    <img src="images/sample-1.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>
    <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
        <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
                        <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                <div class="card-image">
                    <img src="images/sample-1.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s6">

        </div>
        <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
                        <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                <div class="card-image">
                    <img src="images/sample-1.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>
    <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
 <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
                <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
        <div class="card-image">
            <img src="images/sample-1.jpg">
            <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>
<div class="col s2" style="padding-left: 0px; padding-right: 0px;">
                <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
        <div class="card-image">
            <img src="images/sample-1.jpg">
            <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>
<div class="col s2" style="padding-left: 0px; padding-right: 0px;">
                <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
        <div class="card-image">
            <img src="images/sample-1.jpg">
            <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>
<div class="col s2" style="padding-left: 0px; padding-right: 0px;">
                <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
        <div class="card-image">
            <img src="images/sample-1.jpg">
            <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>
<div class="col s2" style="padding-left: 0px; padding-right: 0px;">
                <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
        <div class="card-image">
            <img src="images/sample-1.jpg">
            <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>
        </div>

    </div>
</div>
</body>
</html>