/* 
*{
    padding: 0px !important; 
    margin: 0px !important;
}

.card {
    width: 15%;
    height: 15%;
    padding: 0px !important; 
    margin: 0px !important;
    max-height: 300px;
    min-width: 300px;
}

.row, .nomargin {
    margin-bottom: 0 !important;

