<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href ="/assets/burger_style.css" type="text/css" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>The Real Monopoly</title>
      <script src = "https://code.jquery.com/jquery.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <!-- <script src = "test.css"></script> -->
      <link rel="stylesheet" href="test.css">
   </head>
   <body>
      <div class = "container-fluid light-green lighten-4">
         <!-- FIRST ROW -->
         <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
            <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red ">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
   
                     <img src="/assets/images/go.jpg" img alt="go">
                     
                  </div>
                  <div class="card-content">
                     <h6>Collect Your Rent</h6>
                     <p>Receive sum of property payouts</p>
                  </div>
                  
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/howHouse.jpg" alt="How House">
                     
                  </div>
                  <div class="card-content">
                     <h6>Silver Ridge Ave</h6>
                     <p>Price: $100</p>
                     <p>Payout: $20</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/Hollywood_Bowl.jpg">
                  
                     
                  </div>
                  <div class="card-content">
                     <h6>Hollywood Bowl</h6>
                     <p>Price: $120</p>
                     <p>Payout: $24</p>
                     
                  </div>
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/ennisHouse.png" alt="ennis house">
                     
                  </div>
                  <div class="card-content">
                     <h6> Glendower Avenue</h6>
                     <p>Price: $140</p>
                     <p>Payout: $28</p>
                  </div>
                  
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/route66.png">
                     
                  </div>
                  <div class="card-content">
                     <h6>Route 66</h6>
                     <p>Price: $160</p>
                     <p>Payout: $32</p>
                     
                  </div>
                  
               </div>
            </div>
         </div>
         <!--SECOND ROW-->
         <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
            <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/murphyWay.png">
                     
                  </div>
                  <div class="card-content">
                     <h6>Murphy Way</h6>
                     <p>Price: $380</p>
                     <p>Payout: $76</p>
                     
                  </div>
                  
               </div>
            </div>
            <!--DICE HERE-->
            <div class="col s6"></div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/SanPasqualSt.png">
                     
                  </div>
                  <div class="card-content">
                     <h6>San Pasqual Street</h6>
                     <p>Price: $180</p>
                     <p>Payout: $36</p>
                     
                  </div>
                  
               </div>
            </div>
         </div>
         <!--THIRD ROW-->
         <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
            <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/SmPier.jpg">
                     
                  </div>
                  <div class="card-content">
                     <h6>Santa Monica Pier</h6>
                     <p>Price: $360</p>
                     <p>Payout: $72</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s1"></div>
            <!--PLAYER 1 STATS-->
            <div class="col s2">
               <div class="card-panel green darken-2">
                 <h6 class="white-text">Player 1 Stats</h6>
                  <p class="white-text">Money: $</p>
                  <p class="white-text">Number of Properties: </p>
               </div>
            </div>
            <!--PLAYER 2 STATS-->
            <div class="col s2">
               <div class="card-panel green darken-2">
                  <h6 class="white-text">Player 2 Stats</h6>
                  <p class="white-text">Money: $</p>
                  <p class="white-text">Number of Properties: </p>
               </div>
            </div>
            <div class="col s1"></div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/Santa_Anita_Park.jpg">
                     
                  </div>
                  <div class="card-content">
                     <h6>Santa Anita Park</h6>
                     <p>Price: $200</p>
                     <p>Payout: $40</p>
                     
                  </div>
                  
               </div>
            </div>
         </div>
         <!--FOURTH ROW-->
         <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
            <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/dellAve.jpg">
                     
                  </div>
                  <div class="card-content">
                     <h6>Dell Avenue</h6>
                     <p>Price: $340</p>
                     <p>Payout: $68</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s6"></div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/madisonAve.jpg">
                     
                  </div>
                  <div class="card-content">
                     <h6>Madison Avenue</h6>
                     <p>Price: $220</p>
                     <p>Payout: $44</p>
                     
                  </div>
                  
               </div>
            </div>
         </div>
         <!--LAST ROW-->
         <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
            <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/gettyCenter.jpg">
                     
                  </div>
                  <div class="card-content">
                     <h6>Getty Center</h6>
                     <p>Price: $320</p>
                     <p>Payout: $64</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/sunsweptDrive.jpg">
                     
                  </div>
                  <div class="card-content">
                     <h6>Sunswept Drive</h6>
                     <p>Price: $300</p>
                     <p>Payout: $60</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/universal-studios-hollywood.jpg">
                     
                  </div>
                  <div class="card-content">
                     <h6>Universal Studios</h6>
                     <p>Price: $280</p>
                     <p>Payout: $56</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/louiseAve.jpg">
                     
                  </div>
                  <div class="card-content">
                     <h6>Louise Avenue</h6>
                     <p>Price: $260</p>
                     <p>Payout: $52</p>
                     
                  </div>
                  
               </div>
            </div>
            <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
               <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                  <div class="card-image">
                     <a class=" left btn-floating halfway-fab waves-effect waves-light red">P1</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;">P2</a>
                     <a class=" right btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">attach_money</i></a>
   
                     <img src="/assets/images/405freeway.jpeg">
                     
                  </div>
                  <div class="card-content">
                     <h6>Gridlock</h6>
                     <p>Price: $240</p>
                     <p>Payout: $48</p>
                     
                  </div>
                  
               </div>
            </div>
         </div>
      </div>
   </div>
   </body>
</html>