<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href ="/assets/burger_style.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Real Monopoly</title>
    <script src = "https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src = "test.css"></script>
</head>
<body>
    <div class = "container-fluid">
    <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
        <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
            <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                <div class="card-image">
                    <img src="images/go.jpg" img alt="go">
                    <span class="card-title"></span>
                </div>
                <div class="card-content">
                    <p>Collect Your Rent</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
</div>
<div class="col s2" style="padding-left: 0px; padding-right: 0px;">
                <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
        <div class="card-image">
            <img src="images/howHouse.jpg" alt="How House">
            <span class="card-title"></span>
        </div>
        <div class="card-content">
            <p>Silver Ridge Ave</p>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>
<div class="col s2" style="padding-left: 0px; padding-right: 0px;">
                <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
        <div class="card-image">
            <img src="images/Hollywood_Bowl.jpg">
            <a class=" left btn-floating halfway-fab waves-effect waves-light red"></a>
            <a class=" right btn-floating halfway-fab waves-effect waves-light blue" style="margin-right: 30%;"></a>
            <a class=" right btn-floating halfway-fab waves-effect waves-light green"></a>
            <span class="card-title"></span>
        </div>
        <div class="card-content">
            <h6>Hollywood Bowl</h6>
            <p>Price: $200</p>
            <p>Payout: $50</p>
        </div>
        <!-- <div class="card-action">
            <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div> -->
    </div>
</div>
<div class="col s2" style="padding-left: 0px; padding-right: 0px;">
                <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
        <div class="card-image">
            <img src="images/ennisHouse.png" alt="ennis house">
            <span class="card-title"></span>
        </div>
        <div class="card-content">
            <p>Glendower Avenue</p>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>
<div class="col s2" style="padding-left: 0px; padding-right: 0px;">
                                <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                        <div class="card-image">
                            <img src="images/route66.png">
                            <span class="card-title"></span>
                        </div>
                        <div class="card-content">
                            <p>Route 66</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
        </div>
    </div>
    <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
        <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
                        <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                <div class="card-image">
                    <img src="images/murphyWay.png">
                    <span class="card-title"></span>
                </div>
                <div class="card-content">
                    <p>Murphy Way</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s6">
        </div>
        <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
                        <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                <div class="card-image">
                    <img src="images/SanPasqualSt.png">
                    <span class="card-title"></span>
                </div>
                <div class="card-content">
                    <p>San Pasqual Street</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>
    <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
        <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
                        <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                <div class="card-image">
                    <img src="images/SmPier.jpg">
                    <span class="card-title"></span>
                </div>
                <div class="card-content">
                    <p>Santa Monica Pier</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s6">
        </div>
        <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
                        <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                <div class="card-image">
                    <img src="images/Santa_Anita_Park.jpg">
                    <span class="card-title"></span>
                </div>
                <div class="card-content">
                    <p>Santa Anita Park</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>
    <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
        <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
                        <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                <div class="card-image">
                    <img src="images/dellAve.jpg">
                    <span class="card-title"></span>
                </div>
                <div class="card-content">
                    <p>Dell Avenue</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s6">
        </div>
        <div class="col s2" style="padding-left: 0px; padding-right: 0px;">
                        <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                <div class="card-image">
                    <img src="images/madisonAve.jpg">
                    <span class="card-title"></span>
                </div>
                <div class="card-content">
                    <p>Madison Avenue</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>
    <div class ="row nomargin" style="margin-bottom: 0px; margin-top: 0px;">
 <div class="col s2 offset-s1" style="padding-left: 0px; padding-right: 0px;">
                <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
        <div class="card-image">
            <img src="images/gettyCenter.jpg">
            <span class="card-title"></span>
        </div>
        <div class="card-content">
            <p>Getty Center</p>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>
<div class="col s2" style="padding-left: 0px; padding-right: 0px;">
                <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
        <div class="card-image">
            <img src="images/sunsweptDrive.jpg">
            <span class="card-title"></span>
        </div>
        <div class="card-content">
            <p>Sunswept Drive</p>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>
<div class="col s2" style="padding-left: 0px; padding-right: 0px;">
                <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
        <div class="card-image">
            <img src="images/universal-studios-hollywood.jpg">
            <span class="card-title"></span>
        </div>
        <div class="card-content">
            <p>Universal Studios</p>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>
<div class="col s2" style="padding-left: 0px; padding-right: 0px;">
                <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
        <div class="card-image">
            <img src="images/louiseAve.jpg">
            <span class="card-title"></span>
        </div>
        <div class="card-content">
            <p>Louise Avenue</p>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>
<div class="col s2" style="padding-left: 0px; padding-right: 0px;">
                <div class="card nomargin" style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
        <div class="card-image">
            <img src="images/405freeway.jpeg">
            <span class="card-title"></span>
        </div>
        <div class="card-content">
            <p>Gridlock</p>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>
        </div>
    </div>
</div>
</body>
</html>